/* 
robiłam blisko 2h
jak zrobić żeby header się rozciągał i nie miał tego max 1300px jak cały container?? */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, rgb(133, 184, 231), rgb(248, 248, 248));
}

.container {
    max-width: 100%;
    margin-inline: auto;
}

.container-content {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5rem;
    height: 100vh;
}

img {
    width: 100%;
}

a:hover {
    opacity: .8;
}

header {
    background: linear-gradient(120deg, rgb(62, 87, 197), rgb(125, 173, 170));
    text-align: center;
    overflow: hidden;
    padding: 0.6em 0.6em 2.2em;
}

.header-title {
    font-size: 2.2rem;
    color: rgb(16, 18, 139);
    margin: 0.5em 0 0.2em 0;
}

.header-text {
    font-size: 1.2rem;
    color: rgb(191, 219, 243);
    margin-bottom: 2em;
}

.white {
    color: rgb(166, 208, 245);
}

a {
    text-decoration: none;
}

li a {
    color: rgb(9, 25, 68);
    font-weight: 600;
    background-color: rgba(137, 186, 231, 0.5);
    padding: 0.7em;
    border-radius: 10px;
    display: block;
}

ul li {
    list-style: none;
    margin: 0.4em;
    text-align: center;
}

.section_one-title {
    color: rgb(16, 18, 139);
    padding: 1em 0 0.5em 0;
}

.section_two-title {
    color: rgb(16, 18, 139);
    margin-bottom: 0.5em;
}

.img-snowboarder {
    border-radius: 5px;
}

.section_one-text,
.section_two-text {
    margin: 1em 0;
    text-align: left;
}

.btn {
    background-color: rgb(165, 231, 228);
    padding: 0.5em 2em;
    border-radius: 10px;
    border: 1px solid rgb(9, 51, 58);
    background-color: rgb(134, 170, 179);
    font-weight: 600;
    display: inline-block;
    margin-block: .5rem;
}



@media (min-width: 950px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .container-content,
    header {
        padding: 0 5em;
    }

    .img-snowboarder {
        width: 70%;
    }

    ul {
        display: flex;
    }
}